body {
  background-color: var(--color-main-grey-bg);
  color: var(--color-main-dark-txt);
  font-family: "Roboto", sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-text);
}
