body {
  background-color: var(--color-main-grey-bg);
  color: var(--color-main-dark-txt);
  font-family: "Roboto", sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-text);

  /* GRID SETUP */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr;
}

/* HEADER SECTION */
.header {
  background-color: var(--color-main-white);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 2rem;
}

/* top search bar */
.header-search-top {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
}

.search {
  font-size: 2rem;
}

.search-grey-field {
  background-color: var(--color-main-grey-bg);
  height: 2rem;
  border-radius: 1rem;
  width: 80%;
}

.notification {
  font-size: 2rem;
}

.img-avatar {
  border-radius: 50%;
  height: 3rem;
  width: auto;
  border: solid 3px var(--color-main-blue);
}

.username {
  font-weight: var(--font-weight-superbold);
}

/* bottom header */
.header-bottom {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 1rem;
  align-items: center;
  margin-top: 1.5rem;
}

.img-big-avatar {
  height: 4.5rem;

  border-radius: 50%;
  width: auto;
  border: solid 3px var(--color-main-blue);
}

.text-container {
}

.text-container .under-text-small {
  font-weight: var(--font-weight-superbold);
  font-size: var(--font-size-text);
}

.text-container .h2-txt {
  font-weight: var(--font-weight-superbold);
  font-size: var(--font-size-text-bold);
}

.header-bottom .btn {
  background-color: var(--color-main-blue);
  color: var(--color-main-white);
  border-radius: 1rem;
  padding: 0.3rem 2rem;
  font-weight: var(--font-weight-bold);
  border: none;
}

/* MAIN SECTION PROJECTS */
.project {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
}

.your-projects {
  grid-row: 1 /3;
}

.projects-h2 {
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem;
  margin: 1rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  background-color: var(--color-main-white);
  border-left: solid 5px var(--color-main-orange);
  border-radius: 0.3rem;
  padding: 1rem;
}

.card-title {
}

.card-text {
}

.card-star-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: end;
  gap: 2rem;
}

.card-star-container svg {
  height: 1.5rem;
}

/* Announcements */
.announcments {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0 1rem;
}

.ann-h2 {
  margin-bottom: 1rem;
}

.ann-cards-container {
  background-color: var(--color-main-white);
  border-radius: 0.5rem;
}

.ann-card {
  padding: 1rem;
}

.ann-h3 {
  padding-top: 0.5rem;
}

.ann-paragraph {
  border-bottom: solid 1px black;
  padding-bottom: 2rem;
}

.ann-card:last-of-type .ann-paragraph {
  border-bottom: none;
  padding-bottom: 1rem;
}

/* Trending */
.trending {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 1rem;
  margin-top: 2rem;
}

.tren-h2 {
  margin-bottom: 1rem;
}

.tren-container {
}

.tren-single {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--color-main-white);
  padding: 1rem;
  gap: 1rem;
  justify-content: start;
}

.tren-single img {
}

.tren-minitext-container {
  display: grid;
}

.tren-name {
  font-weight: var(--font-weight-bold);
}

.tren-undername {
}

/* NAVIGATION LEFT */
.navigation-left {
  background-color: var(--color-main-blue);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 1rem;
}

.h1-container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-bottom: 1.5rem;
}

.navigation-left .icon-big {
  font-size: 4rem;
  margin-right: 0.3rem;
  color: var(--color-main-white);
}

.h1-txt {
  font-size: var(--font-size-h1);
  color: var(--color-main-white);
}

.main-nav {
  padding: 0;
}

.main-nav-li {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: 2rem;
  align-items: center;
  justify-items: start;
  justify-content: start;
}

.navigation-left li svg {
  height: 1.5rem;
  margin-right: 0.5rem;
  color: var(--color-main-white);
}

.navigation-left a {
  color: var(--color-main-white);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}

.bottom-nav {
  padding: 0;
  margin-top: 3rem;
}

.bottom-nav-li {
}
