/* Colors */
:root {
  --color-main-white: #ffffff;
  --color-main-blue: #525fe1;
  --color-main-orange: #f86f03;
  --color-main-grey-bg: #fff6f4;
  --color-main-dark-txt: #333333;
}

/* Fonts */
:root {
  --font-weight-regular: 300;
  --font-weight-bold: 500;
  --font-weight-superbold: 700;

  --font-size-text: 0.875rem; /* 14px */
  --font-size-text-bold: 1.125rem; /* 18px */
  --font-size-sidebar-nav: 1.8125rem; /* 29px */
  --font-size-h1: 2.3125rem; /* 37px */
}
